@model Voo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Voo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AeronaveId" class="control-label"></label>
                <select asp-for="AeronaveId" class ="form-control" asp-items="ViewBag.AeronaveId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AeroportoOrigem" class="control-label"></label>
                <select asp-for="AeroportoOrigem" class ="form-control" asp-items="ViewBag.AeroportoOrigem"></select>
            </div>
            <div class="form-group">
                <label asp-for="AeroportoDestino" class="control-label"></label>
                <select asp-for="AeroportoDestino" class ="form-control" asp-items="ViewBag.AeroportoDestino"></select>
            </div>
            <div class="form-group">
                <label asp-for="HorarioSaida" class="control-label"></label>
                <input asp-for="HorarioSaida" class="form-control" />
                <span asp-validation-for="HorarioSaida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioPrevistoChegada" class="control-label"></label>
                <input asp-for="HorarioPrevistoChegada" class="form-control" />
                <span asp-validation-for="HorarioPrevistoChegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PilotoId" class="control-label"></label>
                <select asp-for="PilotoId" class ="form-control" asp-items="ViewBag.PilotoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
